<p>
  <!-- <mat-toolbar color="primary"> -->
  <mat-toolbar>
    <mat-toolbar-row>
      <img [routerLink]="'/'" style="width: 2.5em;cursor: pointer;" src="assets/images/logo.PNG">
      <h1>XVISION</h1>
      <span class="example-spacer"></span>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/home'"> Home<mat-icon>home</mat-icon> </a>
        <a mat-button [routerLink]="'/contact'"> About US<mat-icon>details</mat-icon> </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>