.example-container {
  width: 60%; /* Center the table with 10% margin on both sides */
  margin: 0 auto;
}

.mat-row {
  display: flex; /* Display columns side by side */
  justify-content: space-between; /* Space between columns */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px; /* Space between rows */
  background-color: white;
}

.btn-cls {
  background-color: white !important;
  color: rgba(44, 113, 161, 1) !important;
  border: 1px solid rgba(44, 113, 161, 1) !important;
  padding: 15px 32px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  cursor: pointer !important;
  font-weight: bolder;
}

.mat-expansion-panel-header {
  display: contents;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

::ng-deep .mat-expansion-panel-body {
  padding: none !important;
}